DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456
DATABASE_URL="postgresql://postgres:123456@localhost:5436/teslo-shop?schema=public"

AUTH_GITHUB_ID=...
AUTH_GITHUB_SECRET=...
# openssl rand -base64 32
AUTH_SECRET=aslLKAJFSADFASDFASDFASDFASDFDSER32

# Paypal
# https://developer.paypal.com/dashboard/
PAYPAL_CLIENT_ID=ASDFASDFslfjaLSDKF23SDF
PAYPAL_SECRET_KEY=